.elements-container {
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
}

.elements-container a {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  cursor: pointer;
  color: #fdfdfd;
}
