.elements-container {
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
  align-items: center;
}

.elements-container a {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  cursor: pointer;
  color: #fdfdfd;
}

@media (min-width: 768px) {
  .elements-container {
    align-items: flex-start;
  }
}
