header {
  background-color: #0c0d0d;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.logo {
  height: 32px;
  width: 80px;
  margin: 20px 0;
}

.nav-content {
  display: flex;
  margin: 10px 0;
}

.nav-content a {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #fdfdfd;
  text-decoration: none;
  font-weight: 300;
  margin-right: 8px;
}

.categorias {
  align-items: flex-end;
}

.nav-input {
  width: 70vw;
  height: 32px;
  top: 16px;
  background: #fdfdfd;
  border-radius: 4px;
}

@media (min-width: 768px) {
  header {
    width: 100%;
  }

  .nav-input {
    width: 450px;
  }
}

@media (min-width: 992px) {
  header {
    flex-direction: row;
    height: 64px;
    width: 100%;
  }

  nav {
    flex-direction: row;
    margin: 0 auto;
  }

  .nav-input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  nav {
    padding: 0 82px;
  }
}

@media (min-width: 1366px) {
  nav {
    padding: 0 164px;
  }
}
