.footer-container {
  width: 100%;
  height: auto;
  background-color: #0c0d0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container h2 {
  width: 100px;
  color: #e11383;
  border-bottom: 3px solid #fdfdfd;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.footer-content {
  width: auto;
  display: flex;
  flex-direction: column;
}

.container-elements {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.container-contact-elements {
  height: 150px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-contact-elements img {
  width: 21.18px;
  height: 18px;
}

.elements-contact {
  display: flex;
  align-items: center;
  color: #fdfdfd;
  font-weight: 300;
  margin: 6px 0 8px 0;
}

.elements-contact p {
  margin: 0;
}

.elements-contact img {
  padding-right: 8px;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: column;
    height: 256px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-container h2 {
    margin-left: 30px;
  }

  .footer-content {
    width: auto;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }

  .container-elements {
    height: 122px;
    margin: 0;
  }

  .container-contact-elements {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (min-width: 992px) {
  .footer-container h2 {
    margin-left: 100px;
  }

  .footer-content {
    justify-content: flex-start;
  }

  .container-elements,
  .container-contact-elements {
    margin-left: 100px;
  }
}

@media (min-width: 1200px) {
  .footer-container h2 {
    margin-left: 164px;
  }

  .footer-content {
    padding-left: 64px;
  }
}
