.carrosel-card-container {
  width: 236px;
  height: auto;

}

.carrosel-card-container:hover {
  height: auto;
  border: 1px solid #ba0668;
  border-radius: 4px;
}

.carrosel-card-container .item-img {
  width: 200px;
  height: 200px;
  background-color: teal;
  margin: 18px;
}

.carrousel {
  background-color: #f7faff;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 8px;
}

.oldPrice {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: line-through;
  color: #3c3e40;
  padding-left: 128px;
}

.price {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #e11383;
}

.additionalInfo {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}

.carrousel button {
  width: 220px;
  height: 42px;
  background: #e11383;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fdfdfd;
  margin-bottom: 16px;
}

.hide {
    display: none;
}

