.container-carrosel {
  height: auto;
  width: 100%;
  margin-bottom: 64px;
}

.container-carrosel h2 {
  padding-left: 165px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #0c0d0d;
  margin: 0 0 42px 0;
}

.container-carrosel hr {
    width: 64px;
    height: 3px;
    background-color: #E11383;
    border: none;
    margin: 0 0 0 165px;
}

.carrosel-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height:unset;
}

.carrosel-slider {
  display: flex;
  width: 1040px;
  justify-content: space-around;
  scroll-behavior: smooth;
  
}

.carrosel-content button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.arrow {
    margin: auto 0;
 
}
