.container-carrosel {
  height: auto;
  max-width: 90vw;
  margin: 0 auto;
  margin-bottom: 64px;
}

.container-carrosel h2 {
  padding-left: 2.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #0c0d0d;
  margin: 0 0 42px 0;
}

.container-carrosel hr {
  width: 64px;
  height: 3px;
  background-color: #e11383;
  border: none;
  margin: 0 0 0 2.5rem;
}

.carrosel-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: unset;
}

.carroselSlider {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.container-carrosel .carroselSlider {
  overflow-x: auto;
  scroll-behavior: smooth;
}

.container-carrosel .carroselSlider::-webkit-scrollbar {
  display: none;
}

.carrosel-content button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 236px;
  margin-right: 16px;
}

.item-image img {
  width: 200px;
  height: 200px;
  padding: 18px;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7faff;
  padding: 8px 25px 16px;
  width: 185px;
  border-radius: 4px;
}

.item-info .name {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.item-info .rating {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #3c3e40;
  margin: 8px;
}

.item-info .price {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #e11383;
  margin-bottom: 16px;
}

.item-info .buy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 42px;
  background-color: #e11383;
  border-radius: 8px;
}

.item:hover {
  border: 1px solid #ba0668;
  border-radius: 4px;
}

.item-info .buy a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fdfdfd;
  text-decoration: none;
}

.arrow {
  margin: auto 0;
  border: none;
}
