@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


.App {
    font-family: 'Roboto', sans-serif;
}

.body-areas {
    max-width: 1366px;
    margin: 0 auto;

}
