.container {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.banner-content {
  height: 35vh;
  width: 100%;
  /*  transform: matrix(1, -0.05, 0.07, 1, 0, 0); */
  z-index: -1;
}

#banner-style {
  background-image: linear-gradient(
      90deg,
      #000000 1.53%,
      rgba(32, 32, 32, 0.52) 56.83%,
      rgba(196, 196, 196, 0) 98.06%
    ),
    url("../../assets/img/banner.jpeg");
  width: 100%;
  background-size: auto;
  background-position-y: -8rem;
  position: relative;
}

.text-banner {
  position: absolute;
  color: #fdfdfd;
  top: 340px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1;
}

.text-bigger {
  font-weight: 400;
  font-size: 32px;
  line-height: 49px;
  padding-left: 15px;
  margin: 0;
}

.text-small {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 15px;
  margin: 0;
}

@media (min-width: 992px) {
 

  .text-banner {
    top: 190px;
  }
  .banner-content {
    height: 374px;
  }

  .text-bigger {
    font-size: 42px;
    padding-left: 164px;
  }

  .text-small {
    font-size: 24px;
    padding-left: 164px;
  }
}
