* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-container {
  height: 374.31px;
  width: 100%;
 display: flex;

}

/* .banner-content {
  background-image: url("../../assets/img/banner.jpeg");
  height: 100%;
  background-position-y: -270px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 88%;
} */
